@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "FS Me";

  font-display: swap;
  src:
    url("../fonts/FSMeWeb-Regular_rcfffc.woff2") format("woff2"),

}

@font-face {
  font-style: normal;
  font-family: "FS Me Bold";


  font-display: swap;
  src:
    url("../fonts/FSMeWeb-Bold_ce2eoa.woff2") format("woff2"),
}
