// Colors
// ---------------------------------

// Default

$color-default-black: #333333;
$color-default-white: #FFFFFF;

// Project palette

$color-background: #D5995F;
$color-button-hover: #6F3F87;
$color-button: #173145;
$color-decoration: #008CAA;

// Scaling

$fz-default: 16px;


$ff-placeholder: "FS Me",
"Arial",
sans-serif;

// Viewports
$desktop: 1439px;
$tablet: 767px;
$mobile: 374px;
$max-desktop: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
